/* Copyright (c) 2018 SerialLab Corp.

GNU GENERAL PUBLIC LICENSE
   Version 3, 29 June 2007

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>. */


.entry-events-container .pt-card {
  border-radius: 0;
  border: none;
  box-shadow:none;
  padding:0;
  margin:0;
}

.entry-events-container {
  margin:0 0 70px 0;
  border-bottom: solid 4px #CCC;
  border-top: solid 4px #CCC;
}

.entry-events-container .question-left {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.card-general-info{
  padding: 10px 0;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-general-info a {
  text-decoration: none;
  font-weight: 500;
}

.event-detail-taskID {
  display: flex;
  align-items: center;
}
.event-information-separator {
  margin: 20px 0;
}